<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Register Page</h1>
    <form action="/api/user" method="POST">
      <input name="username" type="text" placeholder="Username" />
      <input name="email" type="text" placeholder="Email" />
      <input name="password" type="text" placeholder="Password" />
      <input
        name="password_confirm"
        type="text"
        placeholder="Confirm Password"
      />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
